/**
 * @author: Handsoncode
 */

/* [ local variables ] */

footer {
    margin-top: 83px;
    padding-bottom: 47px;
    p {
        margin-bottom: 21px;
    }

    a {
        display: inline-block;
        width: 100%;
        margin: 0;

        @media only screen and (min-width: $largeWidth) {
            margin: 6px 0;
        }

        &[target="_blank"]:hover {
            opacity: .8;
        }
    }

    .gray-stripe {
        @include border-bottom;
        padding: 36px 0 11px;
        margin-bottom: 70px;
    }

    #mc_embed_signup {
        position: relative;
    }

    .subscribe-form {
        margin: 40px 0;

        @media only screen and (min-width: $largeWidth) {
            padding-left: 60px;
            margin: 0;
        }

        h5 {
           font-weight: 600;
            margin: 41px 0 0;
        }
        
        p {
            text-align: center;
            margin: 0 0 20px 0;

            @media only screen and (min-width: $largeWidth) {
                margin: 8px 0 20px;
                text-align: left;
            }
        }

        form {
            /* mailchimp class */
            .mc-field-group {
                @include rectangle(100%, 42px);
                position: relative;
                display: block;
                float: left;

                @media only screen and (min-width: $largeWidth) {
                    width: auto;
                }

                svg {
                    @include set-pseudo-element(50%, auto, auto, 14px);
                    @include square(11px);
                    margin-top: -5px;
                    fill: $middleGray;
                }

                div.mce_inline_error {
                    bottom: -20px;
                }
            }
            
            input[type="email"],
            input[type="submit"] {
                border-radius: 2px;
            }

            input[type="email"] {
                padding: 10px 20px 10px 34px;
                background: #FFF;
                height: 42px; /* Firefox add 2 extra pixels */ 

                @media only screen and (min-width: $largeWidth) {
                    float: left;
                    width: 248px;
                    margin-bottom: 5px;
                    border-right-width: 0;
                    border-radius: 2px 0 0 2px;
                }
                
            }

            input[type="submit"] {
                width: 100%;
                margin-top: 10px;
                @media only screen and (min-width: $largeWidth) {
                    width: auto;
                    margin: 0;
                    border-radius: 0 2px 2px 0;
                }
            }

            #mce-responses {
                position: absolute;
                top: 53px;
                font-size: 0.813em; /* 13px */

                #mce-error-response {
                    color: $brandRed;
                }

                #mce-success-response {
                    color: $brandGreen;
                }
            }
        }
    }

    .social-links {
        text-align: center;
        position: relative;
        bottom: -46px;
        z-index: 2;
        
        a {
            @include circle(60px);
            @include border;
            position: relative;
            display: inline-block;
            margin: 0 2px;
            background: #FFF;

            svg {
                @include transition(fill .3s ease);
                @include square(32px);
                @include absolute-top-left(50%, 50%);
                margin: -16px 0 0 -16px;
                fill: #bdbdbd;
            }
        }
    }

    .copyright {
        text-align: center;

        a {
            margin: 0;
        }

        p {
            margin: 3px 0 21px;
        }

        .handsoncode-logotype svg {
            @include rectangle(120px, 20px);
            fill: #9A9A9A;
        }
    }
}