/**
 * @author: Handsoncode
 */

 .table-container {
    width: 100%;
    overflow-y: auto;

    @media only screen and (min-width: $largeWidth) {
        overflow: inherit;
    }

    table {
        font-size: 0.813em; /* 13px */
        font-weight: 300;
        text-align: left;
        width: 100%;


        th {
            font-weight: 300;
        }

        th,
        td {
            white-space: nowrap;
            padding: 10px 18px;        
        }

        tr {
            @include border-bottom;
        }

        &.striped {
            tbody tr:nth-child(odd) {
                background: $tableBackground;
            }
        }

        a,
        a:hover,
        a:focus {
            color: $brandRed;
        }
    }
}