body {
    padding-top: $topMenuHeight;

    @media only screen and (min-width: $largeWidth) {
        padding: 0;
    }    
}

[aria-hidden="true"] {
    display: none;
}

.gray-stripe {
    padding: 51px 0;
    background: $ultraLightGray;
}

.element-center {
    text-align: center;
}