/**
 * @author: Handsoncode
 */

html,
body {
    font-family: $regularFont;
    font-size: 108%;
    font-weight: 400;
    color: $textColor;

    @media only screen and (min-width: $mediumWidth) {
        font-size: 100%;
    }
}

h1,
h2, 
h3,
h4,
h5,
code,
blockquote {
    font-weight: 300; 
}

h1,
h2, 
h3,
h4,
h5 {
    text-align: center;

    @media only screen and (min-width: $mediumWidth) {
        text-align: left;
    }

}


h1,
h2 { 
    font-family: $optionalFont;
    strong {
        font-weight: 400;
        letter-spacing: 0.01em;
    }

    small {
        font-family: $regularFont;
        line-height: 1.5;
        display: inline-block;
        width: 100%;
        margin-top: 16px;
    }
    
    a {
        font-size: 0.938em; /* 15px */
    }
}

h1 {
    font-size: 2.250em; /* 36px */
    letter-spacing: -0.008em;
    line-height: 1.3;
    margin: 40px 0;

    small {
        font-size: 0.361em; /* 13px */
    }
}

h2 {
    font-size: 2em; /* 32px */

    small {
       font-size: 0.455em; /* 15px */
    }
}

h3 {
    font-size: 1.5em; /* 24px */
}

h4 {
    font-family: $optionalFont;
    font-size: 1.063em; /* 17px */
}

h5 {
    font-size: 0.938em; /* 15px */
}

blockquote {
    font-size: 1.50em; /* 24px */
    margin: 0;

    text-align: center;
    @media only screen and (min-width: $mediumWidth) {
        text-align: left;
    }
}

p,
li {
    font-size: 0.813em; /* 13px */
}

p a {
    color: $linkColor;
}

a {
    text-decoration: none;
    color: $linkColor;

    &:hover,
    &:focus,
    &:active {
        @include transition(color .3s ease, background-color .3s ease, border-color .3s ease);
        color: $linkActiveColor;
        text-decoration: underline;
    }
}

strong {
    font-weight: 400;
}