/**
 * Handsontable RemoveRow extension. See `demo/buttons.html` for example usage
 */
.handsontable.htRemoveRow th.htRemoveRow {
  text-align: center;
}

.handsontable.htRemoveRow th.htRemoveRow .btn {
  background-color: #898989;
  border-radius: 20px;
  padding: 2px 0 0;
  display: none;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin: 0 auto;
  width: 20px;
  height: 18px;
}

.handsontable.htRemoveRow th.htRemoveRow .btn:hover {
  background-color: #777;
}
