/**
 * @author: Handsoncode
 */

.star-counter {
  display: none;

  @media only screen and (min-width: $largeWidth) {
    @include absolute-top-left (-2px, 150px);
    display: block;

    .github-star {
      @include transition (opacity .2s ease-out);
      @include relative-top-left (-5px, 8px);
      padding: 1px 5px;
      display: inline-block;
      color: $baseGray;
      cursor: pointer;
      font-size: 10px;
      border-radius: 3px;
      border: 1px solid $baseGray;

      &:hover {
        opacity: .7;
      }

      .triangle {
        @include arrow-left (6px, 4px, $baseGray);
        @include absolute-top-left (5px, -5px);
      }
    }

    svg {
      @include square (25px);
      fill: $baseGray;
      margin-bottom: -5px;

      @media only screen and (min-width: $mediumWidth) {
        @include square (18px);
        float: left;
      }
    }
  }
}