/**
 * @author: Handsoncode
 * @description: Centered headline
 */

 .headline {
    position: relative;

    .red {
        color: $brandRed;
    }

    &.centered {
        text-align: center;
        padding: 0;
        span {
            @include translate(-50%, -50%);
            font-weight: 400;
            text-align:center;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 6px;
            background: #FFF;
            width: 85%;

            @media only screen and (min-width: $largeWidth) {
                padding: 0 0 50px 0;
                width: auto;
            }
        }
    }
}