/**
 * @author: Handsoncode
 */

$regularFont: 'Roboto', Helvetica, Arial, sans-serif;
$optionalFont:  'Roboto', Helvetica, Arial, sans-serif;
$readFont: Georgia, Cambria, "Times New Roman", serif;
$codeFont: Consolas, "Liberation Mono", Courier, monospace;
