<div class="footer">
  <div class="row copyright text-right">
    <span>Generated with <a href="http://usejsdoc.org/" target="_blank">JSDoc 3</a></span>
    <br>
    <span>Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY
      4.0</a>.</span>
    <span><a href="//handsontable.com/privacy.html" target="_blank">Terms of use and Privacy</a></span>
  </div>
</div>