<header>
    <div class="row">
        <div class="small-3 columns">
            <div class="logo">
              <a href="//handsontable.com">
                  <svg class="handsontable-logo">
                      <use xlink:href="#handsontable-logo"></use>
                  </svg>
              </a>
              <a href="//github.com/handsontable/handsontable" id="github-star" class="star-counter" target="_blank">
                  <svg>
                      <use xlink:href="#github-squid"></use>
                  </svg>
                  <div class="github-star">
                      <div class="triangle"></div>
                      <div data-bind="starsCount">-</div>
                  </div>
              </a>
          </div>
        </div>

        <div class="small-9 columns text-right">
            <nav class="mobile-inactive">
                <a href="#" id="mobile-nav-menu">
                    <svg>
                        <use xlink:href="#open-mobile-nav"></use>
                    </svg>
                </a>
                <ul>
                    <li class="mobile-only"><a href="//handsontable.com/">Home</a></li>
                    <li><a href="//handsontable.com/features">Features</a></li>
                    <li><a
                           href="//handsontable.com/examples?manual-resize&manual-move&conditional-formatting&context-menu&filters&dropdown-menu&headers">
                            Examples
                        </a></li>
                    <li><a href="//handsontable.com/download">Download</a></li>
                    <li><a href="//handsontable.com/pricing">Pricing</a></li>
                    <li><a href="//handsontable.com/customers">Case studies</a></li>
                    <li><a href="//docs.handsontable.com">Docs</a></li>
                    <li><a href="//handsontable.com/blog">Blog</a></li>
                    <li class="mobile-only"><a href="//handsontable.com/resellers">Resellers</a></li>
                    <li class="mobile-only"><a href="//handsontable.com/blog/">Blog</a></li>
                    <li class="mobile-only"><a href="//handsontable.com/contact">Contact</a></li>
                    <li class="news">
                        <svg>
                            <use xlink:href="#bell"></use>
                        </svg>
                    </li>
                    <li><a href="//my.handsontable.com/sign-in"
                           class="btn size-small bg-green bg-lighten text-white">
                            Sign in
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
