<?js if (env.conf.templates.meta) { ?>
<?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
<?js } ?>
<?js if (env.conf.templates.openGraph) { ?>
<meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
<meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
<meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
<?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
<meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
<?js } ?>

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<script src="/<?js= env.opts.query.version ?>/scripts/prettify/prettify.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/prettify/lang-css.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/jquery.min.js"></script>
<script src="/<?js= env.opts.query.version ?>/bower_components/highlightjs/highlight.pack.js"></script>
<script src="/<?js= env.opts.query.version ?>/bower_components/modernizr/modernizr.js"></script>
<script src="/<?js= env.opts.query.version ?>/bower_components/axios/axios.min.js"></script>
<script>
  if (typeof Promise === 'undefined') {
      document.write('<scr'+'ipt src="/<?js= env.opts.query.version ?>/bower_components/promise-polyfill/promise.min.js"></scr'+'ipt>');
  }
</script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script data-jsfiddle="common" src="/<?js= env.opts.query.version ?>/bower_components/handsontable/dist/handsontable.full.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/identity-checker.js"></script>

<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/<?js= env.opts.query.version ?>/bower_components/highlightjs/styles/github.css">
<link type="text/css" rel="stylesheet" href="/<?js= env.opts.query.version ?>/bower_components/handsontable/dist/handsontable.full.min.css" data-jsfiddle="common">
<link type="text/css" rel="stylesheet" href="/<?js= env.opts.query.version ?>/styles/prettify-tomorrow.css">
<link type="text/css" rel="stylesheet" href="/<?js= env.opts.query.version ?>/bower_components/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/<?js= env.opts.query.version ?>/styles/main.css">

<script>
    <?js if (env.conf.templates) { ?>
        var config = <?js= JSON.stringify(env.conf.templates) ?>;
    <?js } ?>
    var hotVersion = "<?js= env.opts.query.version ?>";
    var hotLatestVersion = "<?js= env.opts.query.latestVersion ?>";
</script>

<script>
    var HW_config = {
        selector: ".news",
        account: "xaD6ry"
    };
</script>
<script src="//cdn.headwayapp.co/widget.js"></script>
