<!DOCTYPE html>
<html>
<head>
  <?js= this.partial('analytics-pre.tmpl', this) ?>
  <meta charset="utf-8">
  <title><?js= title ?> | Handsontable - open source spreadsheet solution. Excel-like grid editing with HTML & JavaScript</title>
  <?js= this.partial('head.tmpl', this) ?>
</head>

<body class="documentation subpage">

  <?js= this.partial('analytics-post.tmpl', this) ?>
  <?js= this.partial('svg.tmpl', this) ?>
  <?js= this.partial('header.tmpl', this) ?>

  <div id="wrapper">
    <div class="row">
      <div class="large-3 medium-3 small-1 columns">
        <div class="nav-fix">

          <?js= this.partial('navigation.tmpl', this) ?>

        </div>
      </div>
      <div class="large-9 medium-8 small-1 columns">
        <div class="main">
          <h1 class="page-title" data-filename="<?js= filename.replace('tutorial-','') ?>"><?js= title ?></h1>
          <div class="breadcrumbs"></div>

          <?js= content ?>
          <?js= this.partial('footer.tmpl', this) ?>

        </div>
      </div>
    </div>
  </div>

  <?js= this.partial('scripts.tmpl', this) ?>

</body>
</html>
