<?js
  var data = obj;
  var self = this;
  var coreHeader = false;
  var pluginHeader = false;
  var utilHeader = false;
?>
<div class="navigation">

  <div class="search">
    <input id="search" type="text" class="form-control input-sm" placeholder="Search...">
  </div>

  <!-- <p class="app-name">Handsontable <?js= env.opts.query.version ?></p> -->

  <ul class="list">
    <!-- Tutorials -->
    <?js this.members.tutorials.forEach(function (tutorial) { ?>
      <?js tutorial.children.forEach(function (child) { ?>
        <?js if (child.disabled || child.demo) { return; } ?>
        <li class="item tutorial" data-a="<?js= child.since ?>" data-name="<?js= child.name ?>">
          <span class="title">
            <a href="#"><?js= child.title ?></a>
          </span>
          <ul class="members itemMembers">
            <?js child.children.forEach(function (c) { ?>
              <?js if (c.disabled) { return; } ?>
              <li class="sub-item" data-name="<?js= c.name ?>"><?js= self.tutoriallink(c)?></li>
            <?js }); ?>
          </ul>
        </li>
      <?js }); ?>
    <?js }) ?>
  <div class="sublist demos">
    <p class="header">Demos</p>
      <?js this.members.tutorials.forEach(function (tutorial) { ?>
        <?js tutorial.children.forEach(function (child) { ?>
          <?js if (child.disabled || !child.demo) { return; } ?>
          <li class="item" data-a="<?js= child.since ?>" data-name="<?js= child.name ?>">
            <span class="title">
              <a href="#"><?js= child.title ?></a>
            </span>
            <ul class="members itemMembers">
              <?js child.children.forEach(function (c) { ?>
                <?js if (c.disabled) { return; } ?>
                <li class="sub-item" data-name="<?js= c.name ?>"><?js= self.tutoriallink(c) ?></li>
              <?js }); ?>
            </ul>
          </li>
        <?js }); ?>
      <?js }); ?>
  </div>
  <div class="sublist api">
    <p class="header">API Reference</p>

    <!-- Core -->
    <?js this.nav.core.forEach(function (item) { ?>
      <?js if (!coreHeader) { ?>
        <?js coreHeader = true; ?>
        <p class="subheader">Core</p>
      <?js } ?>
      <li class="item" data-name="<?js= item.longname ?>">
        <span class="title">
          <a href="#"><?js= item.longname ?></a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
        <ul class="members itemMembers">
          <?js if (item.members.length) { ?>
            <span class="subtitle">Members</span>
            <?js item.members.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="typedefs itemMembers">
          <?js if (item.typedefs.length) { ?>
            <span class="subtitle">Typedefs</span>
            <?js item.typedefs.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="methods itemMembers">
          <?js if (item.methods.length) { ?>
            <span class="subtitle">Methods</span>
            <?js item.methods.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="events itemMembers">
          <?js if (item.events.length) { ?>
            <span class="subtitle">Events</span>
            <?js item.events.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
      </li>
    <?js }); ?>

    <!-- Plugins -->
    <?js this.nav.plugins.forEach(function (item) { ?>
      <?js if (!pluginHeader) { ?>
        <?js pluginHeader = true; ?>
        <p class="subheader">Plugins</p>
      <?js } ?>
      <li class="item" data-name="<?js= item.longname ?>">
        <span class="title">
          <a href="#"><?js= item.longname ?></a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
        <ul class="members itemMembers">
          <?js if (item.members.length) { ?>
            <span class="subtitle">Members</span>
            <?js item.members.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="typedefs itemMembers">
          <?js if (item.typedefs.length) { ?>
            <span class="subtitle">Typedefs</span>
            <?js item.typedefs.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="methods itemMembers">
          <?js if (item.methods.length) { ?>
            <span class="subtitle">Methods</span>
            <?js item.methods.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="events itemMembers">
          <?js if (item.events.length) { ?>
            <span class="subtitle">Events</span>
            <?js item.events.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
      </li>
    <?js }); ?>

    <!-- Utils -->
    <?js this.nav.utils.forEach(function (item) { ?>
      <?js if (!utilHeader) { ?>
        <?js utilHeader = true; ?>
        <p class="subheader">Utils</p>
      <?js } ?>
      <li class="item" data-name="<?js= item.longname ?>">
        <span class="title">
          <a href="#"><?js= item.longname ?></a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
        <ul class="members itemMembers">
          <?js if (item.members.length) { ?>
            <span class="subtitle">Members</span>
            <?js item.members.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="typedefs itemMembers">
          <?js if (item.typedefs.length) { ?>
            <span class="subtitle">Typedefs</span>
            <?js item.typedefs.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="methods itemMembers">
          <?js if (item.methods.length) { ?>
            <span class="subtitle">Methods</span>
            <?js item.methods.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="events itemMembers">
          <?js if (item.events.length) { ?>
            <span class="subtitle">Events</span>
            <?js item.events.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
      </li>
    <?js }); ?>

    </div>
    <!-- not found -->
    <div class="sublist not-found">
      <p class="header">Nothing found :(</p>
    </div>
  </ul>
</div>
