<?js
  var data = obj;
  var self = this;
  var coreHeader = false;
  var pluginHeader = false;
  var utilHeader = false;
?>
<div class="navigation">
  <div class="search">
    <input id="search" type="text" class="form-control input-sm" placeholder="Search">
  </div>

  <ul class="list">
    <!-- Tutorials -->
    <?js this.members.tutorials.forEach(function (tutorial) { ?>
      <?js tutorial.children.forEach(function (child) { ?>
        <?js if (child.disabled || child.demo) { return; } ?>
        <li class="item tutorial" data-name="<?js= child.name ?>">
          <span class="title extensible">
            <a class="link-header" href="#"><?js= child.title ?></a>
          </span>
          <ul class="members itemMembers" data-list-id="<?js= child.longname ?>">
            <?js child.children.forEach(function (c) { ?>
              <?js if (c.disabled) { return; } ?>
              <li class="sub-item" data-name="<?js= c.name ?>"><?js= self.tutoriallink(c)?></li>
            <?js }); ?>
          </ul>
        </li>
      <?js }); ?>
    <?js }) ?>
  <div class="sublist demos">
    <p class="header">Demos</p>
      <?js this.members.tutorials.forEach(function (tutorial) { ?>
        <?js tutorial.children.forEach(function (child) { ?>
          <?js if (child.disabled || !child.demo) { return; } ?>
          <li class="item" data-name="<?js= child.name ?>">
            <span class="title extensible">
              <a class="link-header" href="#"><?js= child.title ?></a>
            </span>
            <ul class="members itemMembers" data-list-id="<?js= child.longname ?>">
              <?js child.children.forEach(function (c) { ?>
                <?js if (c.disabled) { return; } ?>
                <li class="sub-item" data-name="<?js= c.name ?>"><?js= self.tutoriallink(c) ?></li>
              <?js }); ?>
            </ul>
          </li>
        <?js }); ?>
      <?js }); ?>
  </div>
  <div class="sublist api">
    <p class="header">API Reference</p>

    <!-- Core -->
    <?js this.nav.core.forEach(function (item) { ?>
      <?js if (!coreHeader) { ?>
        <?js coreHeader = true; ?>
        <p class="subheader">Core</p>
      <?js } ?>
      <li class="item" data-name="<?js= item.longname ?>">
        <span class="title extensible" data-list-id="<?js= item.longname ?>">
          <a class="link-header" href="#"><?js= item.longname ?></a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
        <ul class="members itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.members.length) { ?>
            <span class="subtitle">Members</span>
            <?js item.members.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="typedefs itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.typedefs.length) { ?>
            <span class="subtitle">Typedefs</span>
            <?js item.typedefs.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="methods itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.methods.length) { ?>
            <span class="subtitle">Methods</span>
            <?js item.methods.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="events itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.events.length) { ?>
            <span class="subtitle">Events</span>
            <?js item.events.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
      </li>
    <?js }); ?>

    <!-- Plugins -->
    <?js var pluginsPool = this.nav.plugins; ?>
    <?js Object.keys(pluginsPool).forEach(function(pluginName) { ?>
      <?js var plugins = pluginsPool[pluginName]; ?>

      <?js if (!pluginHeader) { ?>
        <?js pluginHeader = true; ?>
        <p class="subheader">Plugins</p>
      <?js } ?>

      <li class="item <?js= plugins.length > 1 ? 'multiple' : '' ?>" data-name="<?js= pluginName ?>">
        <?js if (plugins.length > 1) { ?>
          <span class="title group-title extensible">
            <a class="link-header" href="#"><?js= pluginName ?>
              <?js if (plugins[0].isPro) { ?>
              <sup>PRO</sup>
              <?js } ?>
            </a>
          </span>
        <?js } ?>

      <?js plugins.forEach(function(item, index) { ?>

        <?js if (plugins.length > 1) { ?>
          <span class="title extensible inner" data-name="<?js= item.longname ?>" data-list-id="<?js= item.longname ?>">
        <?js } else { ?>
          <span class="title extensible" data-list-id="<?js= item.longname ?>">
        <?js } ?>
          <a class="link-header" href="#"><?js= item.longname ?>
          <?js if (item.isPro) { ?>
            <sup>PRO</sup>
          <?js } ?>
          </a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
          <ul class="members itemMembers" data-list-id="<?js= item.longname ?>">
            <?js if (item.members.length) { ?>
              <span class="subtitle">Members</span>
              <?js item.members.forEach(function (v) { ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
              <?js }); ?>
            <?js } ?>
          </ul>
          <ul class="typedefs itemMembers" data-list-id="<?js= item.longname ?>">
            <?js if (item.typedefs.length) { ?>
              <span class="subtitle">Typedefs</span>
              <?js item.typedefs.forEach(function (v) { ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
              <?js }); ?>
            <?js } ?>
          </ul>
          <ul class="methods itemMembers" data-list-id="<?js= item.longname ?>">
            <?js if (item.methods.length) { ?>
              <span class="subtitle">Methods</span>
              <?js item.methods.forEach(function (v) { ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
              <?js }); ?>
            <?js } ?>
          </ul>
          <ul class="events itemMembers" data-list-id="<?js= item.longname ?>">
            <?js if (item.events.length) { ?>
              <span class="subtitle">Events</span>
              <?js item.events.forEach(function (v) { ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
              <?js }); ?>
            <?js } ?>
          </ul>

      <?js }); ?>
      </li>
    <?js }); ?>

    <!-- Utils -->
    <?js this.nav.utils.forEach(function (item) { ?>
      <?js if (!utilHeader) { ?>
        <?js utilHeader = true; ?>
        <p class="subheader">Utils</p>
      <?js } ?>
      <li class="item" data-name="<?js= item.longname ?>">
        <span class="title extensible" data-list-id="<?js= item.longname ?>">
          <a class="link-header" href="#"><?js= item.longname ?></a>
          <?js if (item.type === 'namespace') { ?>
            <span class="static">static</span>
          <?js } ?>
        </span>
        <ul class="members itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.members.length) { ?>
            <span class="subtitle">Members</span>
            <?js item.members.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="typedefs itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.typedefs.length) { ?>
            <span class="subtitle">Typedefs</span>
            <?js item.typedefs.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="methods itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.methods.length) { ?>
            <span class="subtitle">Methods</span>
            <?js item.methods.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
        <ul class="events itemMembers" data-list-id="<?js= item.longname ?>">
          <?js if (item.events.length) { ?>
            <span class="subtitle">Events</span>
            <?js item.events.forEach(function (v) { ?>
              <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js }); ?>
          <?js } ?>
        </ul>
      </li>
    <?js }); ?>

    </div>
    <!-- not found -->
    <div class="sublist not-found">
      <p class="header">No results found</p>
    </div>
  </ul>
</div>
