<?js
var data = obj;
var self = this;
var pluginHeader = false;
var utilHeader = false;
?>
<div class="navigation">
    <h3 class="applicationName">
        <a href="index.html"><?js= env.conf.templates.applicationName.replace(/\s+/g, '') ?></a>
        <span class="version"><?js= env.opts.query.version ?></span>
    </h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">

    <!-- Core -->
    <?js
    this.nav.core.forEach(function (item) {
    ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
                <?js if (item.type === 'namespace') { ?>
                <span class="static">static</span>
                <?js } ?>
            </span>
            <ul class="members itemMembers">
            <?js
            if (item.members.length) {
            ?>
            <span class="subtitle">Members</span>
            <?js
                item.members.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="typedefs itemMembers">
            <?js
            if (item.typedefs.length) {
            ?>
            <span class="subtitle">Typedefs</span>
            <?js
                item.typedefs.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="methods itemMembers">
            <?js
            if (item.methods.length) {
            ?>
            <span class="subtitle">Methods</span>
            <?js

                item.methods.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="events itemMembers">
            <?js
            if (item.events.length) {
            ?>
            <span class="subtitle">Events</span>
            <?js
                item.events.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
        </li>
    <?js }); ?>

    <!-- Plugins -->
    <?js
    this.nav.plugins.forEach(function (item) {
    ?>
        <?js if (!pluginHeader) { ?>
            <?js pluginHeader = true; ?>
            <li class="header" style="color: #779c34; margin-top: 15px; margin-bottom: 5px; font: bold 0.7em Verdana, Helvetica; display: block;">
                Plugins
            </li>
        <?js } ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
                <?js if (item.type === 'namespace') { ?>
                <span class="static">static</span>
                <?js } ?>
            </span>
            <ul class="members itemMembers">
            <?js
            if (item.members.length) {
            ?>
            <span class="subtitle">Members</span>
            <?js
                item.members.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="typedefs itemMembers">
            <?js
            if (item.typedefs.length) {
            ?>
            <span class="subtitle">Typedefs</span>
            <?js
                item.typedefs.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="methods itemMembers">
            <?js
            if (item.methods.length) {
            ?>
            <span class="subtitle">Methods</span>
            <?js

                item.methods.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="events itemMembers">
            <?js
            if (item.events.length) {
            ?>
            <span class="subtitle">Events</span>
            <?js
                item.events.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
        </li>
    <?js }); ?>

    <!-- Utils -->
    <?js
    this.nav.utils.forEach(function (item) {
    ?>
        <?js if (!utilHeader) { ?>
            <?js utilHeader = true; ?>
            <li class="header" style="color: #779c34; margin-top: 15px; margin-bottom: 5px; font: bold 0.7em Verdana, Helvetica; display: block;">
                Utils
            </li>
        <?js } ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
                <?js if (item.type === 'namespace') { ?>
                <span class="static">static</span>
                <?js } ?>
            </span>
            <ul class="members itemMembers">
            <?js
            if (item.members.length) {
            ?>
            <span class="subtitle">Members</span>
            <?js
                item.members.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="typedefs itemMembers">
            <?js
            if (item.typedefs.length) {
            ?>
            <span class="subtitle">Typedefs</span>
            <?js
                item.typedefs.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="methods itemMembers">
            <?js
            if (item.methods.length) {
            ?>
            <span class="subtitle">Methods</span>
            <?js

                item.methods.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="events itemMembers">
            <?js
            if (item.events.length) {
            ?>
            <span class="subtitle">Events</span>
            <?js
                item.events.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
        </li>
    <?js }); ?>
    </ul>
</div>
