<script>prettyPrint();</script>
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/scripts/foundation/foundation.min.js"></script>
<script src="/scripts/linenumber.js"></script>
<script src="/scripts/samples.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/doc-versions.js"></script>
<script>
    jQuery(document).foundation();
</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>