<script>prettyPrint();</script>
<script src="/<?js= env.opts.query.version ?>/components/fastclick/lib/fastclick.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/foundation/foundation.min.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/linenumber.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/samples.js"></script>
<script src="/<?js= env.opts.query.version ?>/scripts/main.js"></script>
<script src="/latest/scripts/doc-versions.js"></script>
<script>
    jQuery(document).foundation();
</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
