<section>
  <div class="heading">
    <?js if (children.length > 0) { ?>
      <ul>
        <?js var self = this; ?>
        <?js children.forEach(function(t) { ?>
          <li><?js= self.tutoriallink({name: t.name}) ?></li>
        <?js }); ?>
      </ul>
    <?js } ?>
    <h2><?js= header ?></h2>
  </div>

  <article>
    <?js= content ?>
  </article>
</section>
