@media only screen and (max-width: 40em) {
  header {
    padding: 0.875rem 0;
  }
  header .name img {
    margin: 0 1rem;
  }
  header .top-bar-section ul > li:hover a {
    box-shadow: none;
  }
  header .top-bar-section .right li .dropdown {
    left: 104%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  header .name img {
    max-width: 147px;
  }
  header .top-bar-section ul li {
    margin: 0 0.3rem;
  }
  header .top-bar-section ul li a {
    font-size: 13px!important;
  }
  header .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 40em) {
  .main header {
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .banner {
    padding: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 40em) {
  .footer {
    padding: 2rem 0 1rem;
  }
  .footer i.fa {
    display: none;
  }
}
