/**
 * @author: Handsoncode
 */

hr {
  height: 0;
  border: solid #d7d7d7;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
}
i.fa-external-link {
  font-size: 11px;
}
a.button, a.button:hover {
  color: #fff;
}
.c-orange {
  color: #FF9800;
}
.c-green {
  color: #8BC34A;
}
.c-blue {
  color: #0091EA;
}
.c-lightblue {
  color: #03A9F4;
}
.c-brown {
  color: #795548;
}
.c-deeporange {
  color: #FF5722;
}
.c-bluegrey {
  color: #607D8B;
}
.c-pink {
  color: #C51162;
}
.c-red {
  color: #D50000;
}
.c-purple {
  color: #6A1B9A;
}
.c-grey {
  color: #707070;
}
.yellow {
  color: #FFEB3B;
}
.row-grey {
  background-color: #f7f7f7;
}
.row-dark-grey {
  background-color: #222;
}
.row-blue {
  background-color: #07A1E2;
}
.row-lightgreen {
  background-color: #00B8D4;
}
.row-silvergrey {
  background-color: #455A64;
}

