/**
 * @author: Handsoncode
 */

.static-content {
  position: relative;
  h3 {
    margin: 50px 0 24px;
    font-size: 22px;
    font-weight: 500;
  }
  .head-gap {
    margin-top: 1rem;
  }
  .edit-doc {
    margin-top: 20px;
  }
  .alert-box {
    padding: 1rem;
    font-size: 13px;
    background-color: #f5f5f5;
    border-left: 4px solid $brandRed;
  }
  .codeLayout {
    margin-top: 2rem;
    position: relative;
    z-index: 0;
  }
  .buttons {
    margin-bottom: 0.3rem;
    position: absolute;
    top: 4px;
    right: 6px;
    z-index: 10;
  }
  .buttons button, button.intext-btn {
    padding: .3rem .5rem .31rem;
    color: #fff;
    font-size: 12px;
    border: none;
    background: #9e9e9e;
    &.jsFiddleLink {
      background-color: #8BC34A;
    }
    &.jsFiddleLink:hover {
      background-color: #7CB342;
    }
    &.dump {
      background-color: #607D8B;
    }
    &.dump:hover {
      background-color: #546E7A;
    }
  }
  button:hover {
    background-color: #b2b2b2;
  }
  button i.fa {
    margin-right: 0.4rem;
  }
  .index-list {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $lightGray;
    ul > li {
      margin-left: 3rem;
    }
  }
  code {
    margin: 0 2px;
    padding: 0.2rem 0.3rem;
    display: inline;
    font-weight: 400;
    border: none;
    background-color: $ultraLightGray;
  }
  pre code {
    padding: 0.5rem 1rem;
    border: none;
    display: block;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }
  code.hljs {
    margin-top: 0;
    padding: 1rem;
  }
  .codeLayout code.hljs {
    padding: 0.8rem 0.5rem;
  }
  #positions {
    font-size: 13px;
  }
  input[type="search"] {
    width: 219px;
    margin: 1rem 0;
    padding: 0.3rem 0.5rem;
  }
  .checklist {
    margin-bottom: 1rem;
    label {
      margin: 0.5rem 1rem 0.5rem 0;
      font-size: 13px;
      display: inline;
    }
    input[type="checkbox"] {
      margin: -3px 0.2rem 0 0;
      vertical-align: middle;
    }
  }
  .part-left-container {
    margin: 2rem 0;
    & > div {
      width: 35%;
      float: left;
    }
    &.callbacks-container {
      margin-bottom: 0;
    }
    &.callbacks-container > div {
      width: 50%;
    }
    & #example1_events {
      height: 165px;
      padding: 0.5rem;
      overflow: auto;
      font-size: 11px;
      border: 1px solid #CCC;
    }
    & #graphael-example {
      text-align: center;
    }
    & .aggregation p {
      font-size: 13px;
    }
  }
  .clear-log {
    margin-top: 0.5rem;
    text-align: right;
  }
  & #hooksList {
    padding: 0;
    & li {
      width: 33%;
      float: left;
      font-size: 13px;
      list-style: none;
    }
    & input[type="checkbox"] {
      margin-right: 0.5rem;
      position: relative;
      top: 2px;
    }
  }
  .error-container {
    margin-top: 4rem;
    & h1, & h3 {
      margin-top: 0.5rem;
      text-align: center;
    }
    & h3 {
      font-style: italic;
    }
    & .hot {
      margin: 3rem auto 0;
    }
    & .cell-dark {
      background-color: #222;
    }
  }
}
