/**
 * @author: Handsoncode
 */

@mixin transition ($rule...) {
    -webkit-transition: $rule;
    -moz-transition: $rule;
    transition: $rule;
}

@mixin  animation ($rule) {
    -webkit-animation: $rule;
    -moz-animation: $rule;
    animation: $rule;
}

@mixin  animation-delay ($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin keyframes ($name) {
    @-moz-keyframes $name {
        @content
    }
    @-webkit-keyframes $name {
        @content
    }
    @-o-keyframes $name {
        @content
    }
    @-ms-keyframes $name {
        @content
    }
    @keyframes $name {
        @content
    }
}