/**
 * @author: Handsoncode
 */

/* viewport height minus body padding and constant */
@mixin viewport-height ($vh) {
    height: calc(100% - #{$vh});
    height: -o-calc(100% - #{$vh}); /* opera */
    height: -webkit-calc(100% - #{$vh}); /* google, safari */
    height: -moz-calc(100% - #{$vh}); /* firefox */
}