/**
 * @author: Handsoncode
 */
 
@mixin scale ($scaleX, $scaleY) {
    -webkit-transform: scale($scaleX, $scaleY);
        -ms-transform: scale($scaleX, $scaleY);
            transform: scale($scaleX, $scaleY);
}

@mixin rotate ($degree) {
    -webkit-transform: rotate($degree);
        -ms-transform: rotate($degree);
            transform: rotate($degree);
}

@mixin skew ($degree) {
    -webkit-transform: skew($degree);
        -ms-transform: skew($degree);
            transform: skew($degree);
}

@mixin transform ($rule: none) {
    -webkit-transform: $rule;
        -ms-transform: $rule;
            transform: $rule;
}

@mixin translate ($translateX, $translateY) {
    -webkit-transform: translate($translateX, $translateY);
        -ms-transform: translate($translateX, $translateY);
            transform: translate($translateX, $translateY);
}

@mixin translateY ($rule) {
    -webkit-transform: translateY($rule);
        -ms-transform: translateY($rule);
            transform: translateY($rule);
}

@mixin translateX ($rule) {
    -webkit-transform: translateX($rule);
        -ms-transform: translateX($rule);
            transform: translateX($rule);
}