body {
  /* prevent wrapper->body margin collapsing 11*/
  padding-top: 0.1px; }

.font-description {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

#wrapper {
  margin-top: 5rem;
  z-index: 1; }
  #wrapper .nav-fix {
    width: 270px;
    height: 1px; }

.tag-since, .tag-default {
  margin-left: 0; }

.navigation {
  width: 270px;
  min-width: 270px;
  position: fixed;
  top: 6rem;
  border: 1px solid #ececec;
  background-color: #f2f2f2;
  padding: 10px 0; }
  .navigation .applicationName {
    margin: 0;
    margin-top: 15px;
    padding: 10px 15px;
    color: #4267B6; }
    .navigation .applicationName a {
      color: #4267B6; }
  .navigation .version {
    font-size: 10px;
    color: #454545; }
  .navigation .search {
    padding: 0.2rem 0.5rem 0; }
    .navigation .search input {
      margin-bottom: 0.5rem;
      background-color: #fff;
      color: #909090;
      font-weight: 300;
      box-shadow: none;
      border-color: #ccc; }
  .navigation .app-name {
    margin: 0;
    padding: 0 12px 6px;
    font-size: 12px;
    text-align: left;
    color: #838383; }
  .navigation .list {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    height: 100%;
    list-style: none; }
  .navigation li.item {
    margin: 10px 12px 10px 18px; }
    .navigation li.item a {
      color: #037BD2; }
      .navigation li.item a:hover {
        color: #037BD2; }
      .navigation li.item a.active-link {
        font-weight: 600; }
      .navigation li.item a.external:after {
        margin-top: -2px;
        padding-left: 4px;
        display: inline-block;
        font: normal normal normal 10px/1 FontAwesome;
        content: "\f08e"; }
    .navigation li.item.multiple .extensible:not(.group-title) {
      margin: 10px 0 10px 16px;
      display: none; }
      .navigation li.item.multiple .extensible:not(.group-title):before {
        content: "-";
        color: #B5B5B5;
        font-size: 17px;
        position: absolute;
        top: -5px;
        left: -11px; }
    .navigation li.item.multiple .itemMembers {
      margin-left: 1.4rem; }
    .navigation li.item .title {
      cursor: pointer;
      position: relative;
      display: block;
      font-size: 0.8em; }
      .navigation li.item .title.extensible a:after {
        content: "\f107";
        font-family: FontAwesome;
        color: #B5B5B5;
        font-size: 17px;
        position: absolute;
        top: -3px;
        right: 4px; }
      .navigation li.item .title a {
        padding-bottom: 6px;
        display: block;
        font-size: 13px;
        color: #393939;
        cursor: default; }
        .navigation li.item .title a:hover {
          color: #454545; }
      .navigation li.item .title .static {
        display: block;
        border-radius: 3px;
        background-color: #779c34;
        color: #000;
        font-size: 0.7em;
        padding: 2px 4px;
        float: right; }
    .navigation li.item .subtitle {
      margin: 6px 0;
      font-size: 14px;
      display: block; }
    .navigation li.item ul > li {
      font-size: 13px;
      padding: 0.2rem 0; }
    .navigation li.item .itemMembers {
      margin-bottom: 0.7rem;
      display: none;
      list-style: square; }
  .navigation .sublist .li {
    list-style: none; }
  .navigation .sublist p.header {
    margin: 16px 12px 6px;
    padding-top: 1rem;
    font-size: 16px;
    font-weight: 400;
    color: #838383;
    border-top: 1px solid #dddddd; }
  .navigation .sublist p.subheader {
    margin: 16px 12px 6px;
    font-size: 14px;
    color: #61ba01; }
  .navigation .sublist .itemMembers {
    margin: 0 0 0 0.5rem;
    padding: 0;
    list-style: none !important; }
    .navigation .sublist .itemMembers li {
      margin-left: 0.4rem; }
    .navigation .sublist .itemMembers a:hover {
      color: #118AE2; }
  .navigation .sublist.demos .header {
    margin: 16px 12px 12px; }
  .navigation .sublist.not-found {
    display: none;
    text-align: center; }
    .navigation .sublist.not-found .header {
      margin: 16px 12px 12px; }

.main {
  width: 100%;
  padding: 20px 20px; }
  .main .page-title {
    display: none; }
  .main h1 {
    font-weight: 600;
    font-size: 1.6em;
    margin: 0; }
  .main h2 {
    font-weight: 400;
    font-size: 1.5em; }
  .main h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0; }
  .main h4 {
    font-weight: bold;
    font-size: 1em; }
  .main h3::before,
  .main h4::before {
    display: block;
    content: " ";
    margin-top: -6rem;
    height: 6rem;
    visibility: hidden; }
  .main h5 {
    font-weight: bold;
    font-size: 14px; }
  .main dd {
    font-size: 14px; }
  .main kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 3px 7px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px; }
  .main h4.name span.type-signature {
    display: inline-block;
    border-radius: 3px;
    background-color: gray;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 4px; }
  .main h4.name span.type {
    margin-left: 5px; }
  .main h4.name span.glyphicon {
    display: inline-block;
    vertical-align: middle;
    color: #e1e1e1;
    margin-left: 7px; }
  .main h4.name span.returnType {
    margin-left: 3px;
    background-color: transparent !important;
    color: gray !important; }
  .main h5 span.returnType {
    margin-left: 3px;
    background-color: transparent !important;
    color: gray !important; }
  .main h5 .return-description {
    font-weight: normal; }
  .main span.static {
    display: inline-block;
    border-radius: 3px;
    background-color: #779c34 !important;
    color: #fff;
    font-size: 0.7em;
    padding: 2px 4px;
    margin-right: 8px; }
  .main span.number {
    background-color: gray !important; }
  .main span.string {
    background-color: gray !important; }
  .main span.object {
    background-color: #037BD2 !important; }
  .main span.array {
    background-color: #037BD2 !important; }
  .main span.boolean {
    background-color: #ee7d7d !important; }
  .main .subsection-title {
    font-size: 14px;
    margin-top: 30px;
    color: #779c34; }
  .main .description {
    margin-top: 10px;
    font-size: 14px; }
    .main .description p {
      font-size: 14px; }
  .main .tag-source {
    position: absolute;
    top: 17px;
    right: 0;
    font-size: 10px; }
    .main .tag-source a {
      color: #037BD2; }
  .main dt {
    position: relative; }
  .main dt.tag-source {
    margin-top: 5px; }
  .main dt.tag-todo {
    font-size: 10px;
    display: inline-block;
    background-color: #037BD2;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px; }
  .main .type-signature {
    font-size: 14px; }
  .main .tag-deprecated {
    display: inline-block;
    font-size: 10px; }
  .main .important {
    background-color: #ee7d7d;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px; }
  .main .nameContainer {
    position: relative;
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #e1e1e1;
    z-index: -1; }
    .main .nameContainer .inherited {
      display: inline-block;
      border-radius: 3px;
      background-color: #888 !important;
      font-size: 0.7em;
      padding: 2px 4px;
      margin-right: 5px; }
      .main .nameContainer .inherited a {
        color: #fff; }
    .main .nameContainer.inherited {
      color: gray; }
    .main .nameContainer h4 {
      margin-right: 150px;
      line-height: 1.3; }
      .main .nameContainer h4 .signature {
        font-size: 14px;
        font-weight: normal;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
  .main pre {
    margin: 0;
    font-size: 14px;
    counter-reset: codeLine; }
    .main pre .code-line {
      counter-increment: codeLine; }
    .main pre .code-line::before {
      content: counter(codeLine);
      color: #C0C0C0;
      text-align: right;
      display: inline-block;
      width: 2em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px solid #e0e0e0; }
  .main table {
    width: 100%;
    margin-bottom: 15px; }
    .main table.params th, .main table.params td {
      border: 1px solid #e1e1e1; }
    .main table th {
      padding: 3px 3px; }
    .main table td {
      vertical-align: top;
      padding: 3px 3px; }
    .main table .name {
      width: 110px;
      vertical-align: middle;
      text-align: left; }
    .main table .type {
      width: 60px;
      color: #aaa;
      font-size: 12px;
      vertical-align: middle;
      text-align: center; }
    .main table .default {
      vertical-align: middle;
      text-align: center; }
    .main table .attributes {
      width: 80px;
      color: #aaa;
      font-size: 11px; }
    .main table .description {
      font-size: 14px; }
      .main table .description p {
        margin: 0; }
    .main table .optional {
      float: left;
      border-radius: 3px;
      background-color: #ddd !important;
      font-size: 0.7em;
      padding: 2px 4px;
      margin-right: 5px;
      color: gray; }
  .main .readme p {
    margin-top: 15px;
    line-height: 1.2;
    font-size: 0.85em; }
  .main .readme h1 {
    font-size: 1.7em; }
  .main .readme h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1; }
  .main .readme li {
    font-size: 0.9em;
    margin-bottom: 10px; }
  .main article ol > li {
    list-style-type: decimal;
    margin-bottom: 5px; }
  .main article.source-code ol li {
    font-weight: 100;
    font-size: 14px;
    line-height: 1; }
  .main article ol.linenums {
    margin-left: 15px; }
  .main article .tag-see {
    margin-left: 0; }
  .main article ul > li {
    margin-bottom: 5px;
    list-style-type: square; }
    .main article ul > li.strike {
      text-decoration: line-through; }
  .main article p, .main article ul li, .main article ol li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7; }
  .main article .next-step {
    margin-top: 3rem; }
    .main article .next-step a {
      padding: 0.6rem 0.8rem;
      font-weight: 500;
      border: 1px solid #D7D7D7; }
  .main article strong {
    font-weight: 600; }
  .main article table.static-data {
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.11111rem;
    table-layout: auto; }
    .main article table.static-data caption {
      background: transparent;
      color: #222222;
      font-size: 0.88889rem;
      font-weight: bold; }
    .main article table.static-data thead {
      background: #F5F5F5; }
    .main article table.static-data thead tr th,
    .main article table.static-data thead tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
    .main article table.static-data tfoot {
      background: #F5F5F5; }
    .main article table.static-data tfoot tr th,
    .main article table.static-data tfoot tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
    .main article table.static-data tr th,
    .main article table.static-data tr td {
      color: #222222;
      font-size: 0.77778rem;
      padding: 0.5rem 0.55556rem;
      text-align: left; }
    .main article table.static-data tr.even, .main article table.static-data tr.alt, .main article table.static-data tr:nth-of-type(even) {
      background: #F9F9F9; }
    .main article table.static-data thead tr th,
    .main article table.static-data tfoot tr th,
    .main article table.static-data tfoot tr td,
    .main article table.static-data tbody tr th,
    .main article table.static-data tbody tr td,
    .main article table.static-data tr td {
      padding: 0.5rem 0.4rem;
      vertical-align: middle;
      font-size: 13px;
      display: table-cell;
      line-height: 1rem; }

body {
  /* prevent wrapper->body margin collapsing 11*/
  padding-top: 0.1px; }

.font-description {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

#wrapper {
  margin-top: 5rem;
  z-index: 1; }
  #wrapper .nav-fix {
    width: 270px;
    height: 1px; }

.tag-since, .tag-default {
  margin-left: 0; }

.navigation {
  width: 270px;
  min-width: 270px;
  position: fixed;
  top: 6rem;
  border: 1px solid #ececec;
  background-color: #f2f2f2;
  padding: 10px 0; }
  .navigation .applicationName {
    margin: 0;
    margin-top: 15px;
    padding: 10px 15px;
    color: #4267B6; }
    .navigation .applicationName a {
      color: #4267B6; }
  .navigation .version {
    font-size: 10px;
    color: #454545; }
  .navigation .search {
    padding: 0.2rem 0.5rem 0; }
    .navigation .search input {
      margin-bottom: 0.5rem;
      background-color: #fff;
      color: #909090;
      font-weight: 300;
      box-shadow: none;
      border-color: #ccc; }
  .navigation .app-name {
    margin: 0;
    padding: 0 12px 6px;
    font-size: 12px;
    text-align: left;
    color: #838383; }
  .navigation .list {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    height: 100%;
    list-style: none; }
  .navigation li.item {
    margin: 10px 12px 10px 18px; }
    .navigation li.item a {
      color: #037BD2; }
      .navigation li.item a:hover {
        color: #037BD2; }
      .navigation li.item a.active-link {
        font-weight: 600; }
      .navigation li.item a.external:after {
        margin-top: -2px;
        padding-left: 4px;
        display: inline-block;
        font: normal normal normal 10px/1 FontAwesome;
        content: "\f08e"; }
    .navigation li.item.multiple .extensible:not(.group-title) {
      margin: 10px 0 10px 16px;
      display: none; }
      .navigation li.item.multiple .extensible:not(.group-title):before {
        content: "-";
        color: #B5B5B5;
        font-size: 17px;
        position: absolute;
        top: -5px;
        left: -11px; }
    .navigation li.item.multiple .itemMembers {
      margin-left: 1.4rem; }
    .navigation li.item .title {
      cursor: pointer;
      position: relative;
      display: block;
      font-size: 0.8em; }
      .navigation li.item .title.extensible a:after {
        content: "\f107";
        font-family: FontAwesome;
        color: #B5B5B5;
        font-size: 17px;
        position: absolute;
        top: -3px;
        right: 4px; }
      .navigation li.item .title a {
        padding-bottom: 6px;
        display: block;
        font-size: 13px;
        color: #393939;
        cursor: default; }
        .navigation li.item .title a:hover {
          color: #454545; }
      .navigation li.item .title .static {
        display: block;
        border-radius: 3px;
        background-color: #779c34;
        color: #000;
        font-size: 0.7em;
        padding: 2px 4px;
        float: right; }
    .navigation li.item .subtitle {
      margin: 6px 0;
      font-size: 14px;
      display: block; }
    .navigation li.item ul > li {
      font-size: 13px;
      padding: 0.2rem 0; }
    .navigation li.item .itemMembers {
      margin-bottom: 0.7rem;
      display: none;
      list-style: square; }
  .navigation .sublist .li {
    list-style: none; }
  .navigation .sublist p.header {
    margin: 16px 12px 6px;
    padding-top: 1rem;
    font-size: 16px;
    font-weight: 400;
    color: #838383;
    border-top: 1px solid #dddddd; }
  .navigation .sublist p.subheader {
    margin: 16px 12px 6px;
    font-size: 14px;
    color: #61ba01; }
  .navigation .sublist .itemMembers {
    margin: 0 0 0 0.5rem;
    padding: 0;
    list-style: none !important; }
    .navigation .sublist .itemMembers li {
      margin-left: 0.4rem; }
    .navigation .sublist .itemMembers a:hover {
      color: #118AE2; }
  .navigation .sublist.demos .header {
    margin: 16px 12px 12px; }
  .navigation .sublist.not-found {
    display: none;
    text-align: center; }
    .navigation .sublist.not-found .header {
      margin: 16px 12px 12px; }

.main {
  width: 100%;
  padding: 20px 20px; }
  .main .page-title {
    display: none; }
  .main h1 {
    font-weight: 600;
    font-size: 1.6em;
    margin: 0; }
  .main h2 {
    font-weight: 400;
    font-size: 1.5em; }
  .main h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0; }
  .main h4 {
    font-weight: bold;
    font-size: 1em; }
  .main h3::before,
  .main h4::before {
    display: block;
    content: " ";
    margin-top: -6rem;
    height: 6rem;
    visibility: hidden; }
  .main h5 {
    font-weight: bold;
    font-size: 14px; }
  .main dd {
    font-size: 14px; }
  .main kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 3px 7px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px; }
  .main h4.name span.type-signature {
    display: inline-block;
    border-radius: 3px;
    background-color: gray;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 4px; }
  .main h4.name span.type {
    margin-left: 5px; }
  .main h4.name span.glyphicon {
    display: inline-block;
    vertical-align: middle;
    color: #e1e1e1;
    margin-left: 7px; }
  .main h4.name span.returnType {
    margin-left: 3px;
    background-color: transparent !important;
    color: gray !important; }
  .main h5 span.returnType {
    margin-left: 3px;
    background-color: transparent !important;
    color: gray !important; }
  .main h5 .return-description {
    font-weight: normal; }
  .main span.static {
    display: inline-block;
    border-radius: 3px;
    background-color: #779c34 !important;
    color: #fff;
    font-size: 0.7em;
    padding: 2px 4px;
    margin-right: 8px; }
  .main span.number {
    background-color: gray !important; }
  .main span.string {
    background-color: gray !important; }
  .main span.object {
    background-color: #037BD2 !important; }
  .main span.array {
    background-color: #037BD2 !important; }
  .main span.boolean {
    background-color: #ee7d7d !important; }
  .main .subsection-title {
    font-size: 14px;
    margin-top: 30px;
    color: #779c34; }
  .main .description {
    margin-top: 10px;
    font-size: 14px; }
    .main .description p {
      font-size: 14px; }
  .main .tag-source {
    position: absolute;
    top: 17px;
    right: 0;
    font-size: 10px; }
    .main .tag-source a {
      color: #037BD2; }
  .main dt {
    position: relative; }
  .main dt.tag-source {
    margin-top: 5px; }
  .main dt.tag-todo {
    font-size: 10px;
    display: inline-block;
    background-color: #037BD2;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px; }
  .main .type-signature {
    font-size: 14px; }
  .main .tag-deprecated {
    display: inline-block;
    font-size: 10px; }
  .main .important {
    background-color: #ee7d7d;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px; }
  .main .nameContainer {
    position: relative;
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #e1e1e1;
    z-index: -1; }
    .main .nameContainer .inherited {
      display: inline-block;
      border-radius: 3px;
      background-color: #888 !important;
      font-size: 0.7em;
      padding: 2px 4px;
      margin-right: 5px; }
      .main .nameContainer .inherited a {
        color: #fff; }
    .main .nameContainer.inherited {
      color: gray; }
    .main .nameContainer h4 {
      margin-right: 150px;
      line-height: 1.3; }
      .main .nameContainer h4 .signature {
        font-size: 14px;
        font-weight: normal;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
  .main pre {
    margin: 0;
    font-size: 14px;
    counter-reset: codeLine; }
    .main pre .code-line {
      counter-increment: codeLine; }
    .main pre .code-line::before {
      content: counter(codeLine);
      color: #C0C0C0;
      text-align: right;
      display: inline-block;
      width: 2em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px solid #e0e0e0; }
  .main table {
    width: 100%;
    margin-bottom: 15px; }
    .main table.params th, .main table.params td {
      border: 1px solid #e1e1e1; }
    .main table th {
      padding: 3px 3px; }
    .main table td {
      vertical-align: top;
      padding: 3px 3px; }
    .main table .name {
      width: 110px;
      vertical-align: middle;
      text-align: left; }
    .main table .type {
      width: 60px;
      color: #aaa;
      font-size: 12px;
      vertical-align: middle;
      text-align: center; }
    .main table .default {
      vertical-align: middle;
      text-align: center; }
    .main table .attributes {
      width: 80px;
      color: #aaa;
      font-size: 11px; }
    .main table .description {
      font-size: 14px; }
      .main table .description p {
        margin: 0; }
    .main table .optional {
      float: left;
      border-radius: 3px;
      background-color: #ddd !important;
      font-size: 0.7em;
      padding: 2px 4px;
      margin-right: 5px;
      color: gray; }
  .main .readme p {
    margin-top: 15px;
    line-height: 1.2;
    font-size: 0.85em; }
  .main .readme h1 {
    font-size: 1.7em; }
  .main .readme h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1; }
  .main .readme li {
    font-size: 0.9em;
    margin-bottom: 10px; }
  .main article ol > li {
    list-style-type: decimal;
    margin-bottom: 5px; }
  .main article.source-code ol li {
    font-weight: 100;
    font-size: 14px;
    line-height: 1; }
  .main article ol.linenums {
    margin-left: 15px; }
  .main article .tag-see {
    margin-left: 0; }
  .main article ul > li {
    margin-bottom: 5px;
    list-style-type: square; }
    .main article ul > li.strike {
      text-decoration: line-through; }
  .main article p, .main article ul li, .main article ol li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7; }
  .main article .next-step {
    margin-top: 3rem; }
    .main article .next-step a {
      padding: 0.6rem 0.8rem;
      font-weight: 500;
      border: 1px solid #D7D7D7; }
  .main article strong {
    font-weight: 600; }
  .main article table.static-data {
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.11111rem;
    table-layout: auto; }
    .main article table.static-data caption {
      background: transparent;
      color: #222222;
      font-size: 0.88889rem;
      font-weight: bold; }
    .main article table.static-data thead {
      background: #F5F5F5; }
    .main article table.static-data thead tr th,
    .main article table.static-data thead tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
    .main article table.static-data tfoot {
      background: #F5F5F5; }
    .main article table.static-data tfoot tr th,
    .main article table.static-data tfoot tr td {
      color: #222222;
      font-size: 0.77778rem;
      font-weight: bold;
      padding: 0.44444rem 0.55556rem 0.55556rem; }
    .main article table.static-data tr th,
    .main article table.static-data tr td {
      color: #222222;
      font-size: 0.77778rem;
      padding: 0.5rem 0.55556rem;
      text-align: left; }
    .main article table.static-data tr.even, .main article table.static-data tr.alt, .main article table.static-data tr:nth-of-type(even) {
      background: #F9F9F9; }
    .main article table.static-data thead tr th,
    .main article table.static-data tfoot tr th,
    .main article table.static-data tfoot tr td,
    .main article table.static-data tbody tr th,
    .main article table.static-data tbody tr td,
    .main article table.static-data tr td {
      padding: 0.5rem 0.4rem;
      vertical-align: middle;
      font-size: 13px;
      display: table-cell;
      line-height: 1rem; }

/* body */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  color: #393939;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important; }

a, a:visited, a:hover, a:visited:hover {
  color: #037BD2;
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important; }

hr {
  height: 0;
  border: solid #d7d7d7;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem; }

.row {
  max-width: 75em; }

i.fa-external-link {
  font-size: 11px; }

a.button, a.button:hover {
  color: #fff; }

.c-orange {
  color: #FF9800; }

.c-green {
  color: #8BC34A; }

.c-blue {
  color: #0091EA; }

.c-lightblue {
  color: #03A9F4; }

.c-brown {
  color: #795548; }

.c-deeporange {
  color: #FF5722; }

.c-bluegrey {
  color: #607D8B; }

.c-pink {
  color: #C51162; }

.c-red {
  color: #D50000; }

.c-purple {
  color: #6A1B9A; }

.c-grey {
  color: #707070; }

.yellow {
  color: #FFEB3B; }

.row-grey {
  background-color: #f7f7f7; }

.row-dark-grey {
  background-color: #222; }

.row-blue {
  background-color: #07A1E2; }

.row-lightgreen {
  background-color: #00B8D4; }

.row-silvergrey {
  background-color: #455A64; }

/* header */
header {
  width: 100%;
  padding: 1rem 0 15px;
  position: fixed;
  top: 0;
  z-index: 300;
  background: #045ab0; }
  header .name img {
    max-width: 181px;
    margin: 0 1rem;
    position: relative;
    top: -2px; }
  header nav.top-bar .title-area {
    padding: 0; }
  header nav.top-bar, header .top-bar-section ul, header .top-bar-section ul li, header .top-bar-section ul li a, header .top-bar-section ul li, header .top-bar-section ul li a, header .top-bar.expanded .title-area {
    background-color: #045ab0 !important;
    transition: none !important; }
  header .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.875rem; }
  header nav.expanded .top-bar-section li:not(.has-form) a:not(.button) {
    padding: .26rem 0.875rem; }
  header .top-bar.expanded .toggle-topbar a span::after {
    opacity: 0.5;
    box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff; }
  header nav.expanded .top-bar-section {
    margin-top: 2rem; }
  header .top-bar-section ul {
    position: relative;
    top: 5px; }
  header .top-bar-section ul li {
    margin: 0 0.875rem; }
  header .top-bar-section ul li a {
    line-height: 36px !important;
    font-weight: 300 !important; }
  header .top-bar-section ul > li:hover > a {
    padding: 0;
    box-shadow: 0 1px 0 #4B96E0 inset, -1px 0 0 #4B96E0 inset, 1px 0 0 #4B96E0 inset, 0 -1px 0 #4B96E0 inset; }
  header .top-bar-section .right li .dropdown {
    left: 0;
    z-index: 300; }
  header .top-bar-section .dropdown li {
    margin: 0; }
  header .top-bar-section ul .dropdown li a, header .top-bar-section li.has-dropdown:hover > a {
    box-shadow: 0 1px 0 #4B96E0 inset, -1px 0 0 #4B96E0 inset, 1px 0 0 #4B96E0 inset; }
  header .top-bar-section ul .dropdown li a:hover {
    background-color: #0760BA !important; }
  header .top-bar-section ul .dropdown li a:last-child {
    box-shadow: 0 1px 0 #4B96E0 inset, -1px 0 0 #4B96E0 inset, 1px 0 0 #4B96E0 inset, 0 -1px 0 #4B96E0 inset; }
  header .top-bar-section ul .has-dropdown > a:after {
    margin-top: -7px; }
  header .top-bar-section h5 {
    opacity: 0.7; }

/* active menu */
.documentation-el {
  box-shadow: 0 1px 0 #4B96E0 inset, -1px 0 0 #4B96E0 inset, 1px 0 0 #4B96E0 inset, 0 -1px 0 #4B96E0 inset; }

/* banner */
.banner {
  width: 100%;
  position: fixed;
  top: 77px;
  color: #fff;
  z-index: 200;
  background: #1976D2; }
  .banner .row {
    padding: 0 1.5rem; }

nav, .breadcrumbs {
  border: none;
  background-color: #f2f2f2; }

.breadcrumbs {
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-size: 0.9231rem;
  background: #fff; }
  .breadcrumbs span {
    color: #676767; }
  .breadcrumbs > * {
    color: #037BD2;
    font-size: 12px;
    font-weight: 300;
    text-transform: none; }
  .breadcrumbs > *:before {
    margin: 0 0.45rem;
    font-size: 12px; }
  .breadcrumbs select.hot-chooser {
    height: 25px;
    padding: 0 0 0 10px;
    margin: -6px 0;
    display: inline;
    width: 115px;
    font-size: 12px; }
  .breadcrumbs .hot-latest {
    float: right; }
    .breadcrumbs .hot-latest:before {
      content: ""; }

/* Static pages */
.static-content {
  position: relative; }
  .static-content h3 {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 18px; }
  .static-content .head-gap {
    margin-top: 1rem; }
  .static-content .edit-doc {
    padding: 0.2rem 0.8rem 0.2rem;
    position: absolute;
    top: -43px;
    color: #fff;
    right: 0;
    font-size: 12px;
    background: #045AB0; }
  .static-content .edit-doc:hover {
    background-color: #1C72C8; }
  .static-content .codeLayout {
    margin-top: 2rem;
    position: relative; }
  .static-content .buttons {
    margin-bottom: 0.3rem;
    position: absolute;
    top: 2px;
    right: 2px; }
  .static-content .buttons button, .static-content button.intext-btn {
    margin: 0;
    padding: .5rem .5rem;
    color: #fff;
    font-size: 12px;
    border: none;
    background: #9e9e9e; }
    .static-content .buttons button.jsFiddleLink, .static-content button.intext-btn.jsFiddleLink {
      background-color: #8BC34A; }
    .static-content .buttons button.jsFiddleLink:hover, .static-content button.intext-btn.jsFiddleLink:hover {
      background-color: #7CB342; }
    .static-content .buttons button.dump, .static-content button.intext-btn.dump {
      background-color: #607D8B; }
    .static-content .buttons button.dump:hover, .static-content button.intext-btn.dump:hover {
      background-color: #546E7A; }
  .static-content button:hover {
    background-color: #b2b2b2; }
  .static-content button i.fa {
    margin-right: 0.4rem; }
  .static-content .index-list {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd; }
  .static-content code {
    padding: 0.11111rem 0.27778rem 0.05556rem;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    background-color: #f8f8f8; }
  .static-content code.hljs {
    padding: 0.5rem; }
  .static-content #positions {
    font-size: 13px; }
  .static-content input[type="search"] {
    width: 219px;
    margin: 1rem 0;
    padding: 0.3rem 0.5rem; }
  .static-content .checklist {
    margin-bottom: 1rem; }
    .static-content .checklist label {
      margin: 0.5rem 1rem 0.5rem 0;
      font-size: 13px;
      display: inline; }
    .static-content .checklist input[type="checkbox"] {
      margin: -3px 0.2rem 0 0;
      vertical-align: middle; }
  .static-content .part-left-container {
    margin: 2rem 0; }
    .static-content .part-left-container > div {
      width: 35%;
      float: left; }
    .static-content .part-left-container.callbacks-container {
      margin-bottom: 0; }
    .static-content .part-left-container.callbacks-container > div {
      width: 50%; }
    .static-content .part-left-container #example1_events {
      height: 165px;
      padding: 0.5rem;
      overflow: auto;
      font-size: 11px;
      border: 1px solid #CCC; }
    .static-content .part-left-container #graphael-example {
      text-align: center; }
    .static-content .part-left-container .aggregation p {
      font-size: 13px; }
  .static-content .clear-log {
    margin-top: 0.5rem;
    text-align: right; }
  .static-content #hooksList {
    padding: 0; }
    .static-content #hooksList li {
      width: 33%;
      float: left;
      list-style: none; }
    .static-content #hooksList input[type="checkbox"] {
      margin-right: 0.5rem;
      position: relative;
      top: 2px; }
  .static-content .error-container {
    margin-top: 4rem; }
    .static-content .error-container h1, .static-content .error-container h3 {
      margin-top: 0.5rem;
      text-align: center; }
    .static-content .error-container h3 {
      font-style: italic; }
    .static-content .error-container .hot {
      margin: 3rem auto 0; }
    .static-content .error-container .cell-dark {
      background-color: #222; }

/* Footer */
.footer {
  margin-top: 5rem;
  padding-bottom: 1rem;
  text-align: right; }
  .footer .footer-menu {
    padding: 2rem 0 1rem;
    border-top: 1px solid #efefef; }
  .footer .footer-menu .columns {
    margin: 1rem auto 3rem; }
  .footer ul li p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px; }
  .footer ul li.heading p {
    margin-bottom: 0.875rem;
    font-weight: 400;
    font-size: 13px; }
  .footer ul li > a {
    margin-bottom: 14px;
    font-weight: 300;
    font-size: 13px; }
  .footer .copyright span {
    font-size: 12px;
    font-weight: 500; }

/* overriding foundation for handsontable */
.main .hot, .hot {
  color: #000; }
  .main .hot td, .main .hot th, .main .hot input, .main .hot select, .hot td, .hot th, .hot input, .hot select {
    padding: 0 4px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif; }
  .main .hot .handsontable table, .hot .handsontable table {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .main .hot thead .htGroupIndicatorContainer, .hot thead .htGroupIndicatorContainer {
    padding: 0; }
  .main .hot textarea, .hot textarea {
    transition: none;
    background-color: #fff; }
  .main .hot input, .hot input {
    margin: 0;
    padding: 1px 5px 0;
    border: none;
    box-shadow: 0 0 0 2px #5292F7 inset; }
  .main .hot input[type='checkbox'], .hot input[type='checkbox'] {
    padding: 0;
    box-shadow: none; }
  .main .hot select, .main .hot select:hover, .hot select, .hot select:hover {
    padding: 0;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #393939;
    background: #fff; }
  .main .hot .currentRow, .hot .currentRow {
    background-color: #E7E8EF; }
  .main .hot .currentCol, .hot .currentCol {
    background-color: #F9F9FB; }

/* context menu */
.htContextMenu table tbody tr td {
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif; }

/* datepicker */
.htDatepickerHolder button {
  transition: none; }

/* tutorials */
/* scrollable table */
.scroll-container {
  width: 584px;
  height: 320px;
  margin: 1rem 0 1rem;
  overflow: hidden; }
  .scroll-container .hot {
    margin: 0; }

.fixed-container {
  width: 587px; }
  .fixed-container .hot table.htCore {
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4); }

.ipad-container {
  width: 100%;
  height: 389px; }

.ajax-container label {
  margin-left: 1rem;
  display: inline; }
.ajax-container input[type="checkbox"] {
  margin: -3px 5px 0 0;
  vertical-align: middle; }
.ajax-container pre {
  margin: 1rem 0;
  font-size: 13px; }

.htCore td.customClass {
  color: #f8f8ff;
  background: #1E90FF; }

.pagination {
  margin: 1rem 0; }
  .pagination a {
    padding: 2px 7px;
    font-size: 14px;
    border: 1px solid #ccc; }

.htCommentTextArea {
  font-size: 13px;
  padding: 0.2rem 0.5rem; }

.handsontable td[class*="column"] + [class*="column"]:last-child {
  float: none; }

/* Boostrap demo */
.bootstrap-container {
  width: 567px;
  /* bootstrap reset */
  /* table-bordered */ }
  .bootstrap-container .handsontable tr {
    background: #fff; }
  .bootstrap-container .handsontable td {
    background-color: inherit !important; }
  .bootstrap-container .table caption + thead tr:first-child th,
  .bootstrap-container .table caption + thead tr:first-child td,
  .bootstrap-container .table colgroup + thead tr:first-child th,
  .bootstrap-container .table colgroup + thead tr:first-child td,
  .bootstrap-container .table thead:first-child tr:first-child th,
  .bootstrap-container .table thead:first-child tr:first-child td {
    border-top: 1px solid #CCCCCC; }
  .bootstrap-container .handsontable .table-bordered {
    border: 0;
    border-collapse: separate; }
  .bootstrap-container .handsontable .table-bordered th,
  .bootstrap-container .handsontable .table-bordered td {
    border-left: none; }
  .bootstrap-container .handsontable .table-bordered th:first-child,
  .bootstrap-container .handsontable .table-bordered td:first-child {
    border-left: 1px solid #CCCCCC; }
  .bootstrap-container .table > tbody > tr > td, .bootstrap-container .table > tbody > tr > th, .bootstrap-container .table > tfoot > tr > td, .bootstrap-container .table > tfoot > tr > th, .bootstrap-container .table > thead > tr > td, .bootstrap-container .table > thead > tr > th {
    line-height: 21px;
    padding: 0 4px; }
  .bootstrap-container .col-lg-1.handsontable, .bootstrap-container .col-lg-10.handsontable, .bootstrap-container .col-lg-11.handsontable, .bootstrap-container .col-lg-12.handsontable,
  .bootstrap-container .col-lg-2.handsontable, .bootstrap-container .col-lg-3.handsontable, .bootstrap-container .col-lg-4.handsontable, .bootstrap-container .col-lg-5.handsontable, .bootstrap-container .col-lg-6.handsontable, .bootstrap-container .col-lg-7.handsontable, .bootstrap-container .col-lg-8.handsontable, .bootstrap-container .col-lg-9.handsontable,
  .bootstrap-container .col-md-1.handsontable, .bootstrap-container .col-md-10.handsontable, .bootstrap-container .col-md-11.handsontable, .bootstrap-container .col-md-12.handsontable,
  .bootstrap-container .col-md-2.handsontable, .bootstrap-container .col-md-3.handsontable, .bootstrap-container .col-md-4.handsontable, .bootstrap-container .col-md-5.handsontable, .bootstrap-container .col-md-6.handsontable, .bootstrap-container .col-md-7.handsontable, .bootstrap-container .col-md-8.handsontable, .bootstrap-container .col-md-9.handsontable
  .col-sm-1.handsontable, .bootstrap-container .col-sm-10.handsontable, .bootstrap-container .col-sm-11.handsontable, .bootstrap-container .col-sm-12.handsontable,
  .bootstrap-container .col-sm-2.handsontable, .bootstrap-container .col-sm-3.handsontable, .bootstrap-container .col-sm-4.handsontable, .bootstrap-container .col-sm-5.handsontable, .bootstrap-container .col-sm-6.handsontable, .bootstrap-container .col-sm-7.handsontable, .bootstrap-container .col-sm-8.handsontable, .bootstrap-container .col-sm-9.handsontable
  .col-xs-1.handsontable, .bootstrap-container .col-xs-10.handsontable, .bootstrap-container .col-xs-11.handsontable, .bootstrap-container .col-xs-12.handsontable,
  .bootstrap-container .col-xs-2.handsontable, .bootstrap-container .col-xs-3.handsontable, .bootstrap-container .col-xs-4.handsontable, .bootstrap-container .col-xs-5.handsontable, .bootstrap-container .col-xs-6.handsontable, .bootstrap-container .col-xs-7.handsontable, .bootstrap-container .col-xs-8.handsontable, .bootstrap-container .col-xs-9.handsontable {
    padding-left: 0;
    padding-right: 0; }
  .bootstrap-container .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #FFF; }

@media only screen and (max-width: 40em) {
  header {
    padding: 0.875rem 0; }
    header .name img {
      margin: 0 1rem; }
    header .top-bar .toggle-topbar.menu-icon {
      margin-top: 0;
      top: 10%;
      right: 14px; }
    header .top-bar-section ul li a {
      padding: 0.36rem 0.875rem !important;
      font-size: 15px;
      box-shadow: none !important; }
    header .top-bar-section .right li .dropdown {
      left: 104%; }
    header .top-bar-section li .dropdown li a:hover {
      background: none !important; } }
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  header .name img {
    max-width: 147px; }
  header .top-bar-section ul li {
    margin: 0 0.3rem; }
  header .top-bar-section ul li a {
    font-size: 13px !important; }
  header .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.5rem; } }

@media only screen and (max-width: 40em) {
  #wrapper {
    margin-top: 6rem; }

  .main {
    padding: 0; }

  .small-1, .nav-fix, .navigation {
    width: 100% !important;
    float: none !important;
    position: static !important; }

  .small-1.large-3 {
    height: 320px !important; }

  .small-1.large-3 .navigation {
    height: 300px !important;
    overflow-y: scroll !important; }

  .navigation .list {
    height: auto !important; }

  .breadcrumbs {
    display: none; }

  .footer {
    margin-top: 2rem;
    text-align: center; } }

/*# sourceMappingURL=docs.css.map */
